body {
    margin: 0;
    padding: 0;
    color: white;
    font-family: serif;
    background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/i/2327ffa4-20e9-41b6-b77c-462d26f7bfea/d3ecbzg-045f95bb-8610-4dbb-84ab-e1d08fb037d7.jpg);
}

div {
    width: 300px;
    height: 250px;
    margin-left: 36%;
    margin-top: 200px;
    opacity: 0.5;
    border-radius: 15px;
    background-color: red;
}

h1 {
    text-align: center;
    padding-top: 50px;
}

table {
    position: absolute;
    color: white;
}
